{% extends 'base.html' %}

{% block title %}
    <title>Todo List manager - Taskmate</title>
{% endblock title %}

{% block content %}
  <div class="container">
    <br />
    {% comment %} # Only run logic if message exists {% endcomment %}
    {% if messages  %} 
        {% for  message in messages  %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
         {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="task" id="task" aria-describedby="task" placeholder="New Task?">
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
      </form>
      <br />
    <table class="table table-bordered">
        <thead class="thead-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Done</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                    {% if all_tasks %}
                        {% for obj in all_tasks %}
                            {% if obj.done %}
                                <tr class="table-success">
                                    <td>{{ obj.task }}</th>
                                    <td>{{ obj.done }}</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>    
                            {% else %}
                                <tr>
                                    <td>{{ obj.task }}</th>
                                    <td>{{ obj.done }}</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                {% endif %}
            </tbody>
    </table>
    </br>    
  </div>
{% endblock content %}